<h1 style="padding-top:13px; margin-top:13px; border-top:1px solid;">HOME PAGE</h1>
<ul>
  <% if user_signed_in? %>
      <li><%= link_to "Foods", foods_path %></li>
      <li><%= link_to "Food_Reviews", food_reviews_path %></li>
      <li><%= link_to 'Ordered', orders_path %></li>
  <%end%>
</ul>
